@import "tailwindcss";

:root { color-scheme: dark; }
html, body, #root { height: 100%; }
html { scroll-padding-top: 56px; }
html { scroll-behavior: smooth; }


body {
  margin: 0;
  background: #0D0D0D; /* Preto Estelar */
  color: #F5F5F5;      /* Branco Nebuloso */
  font-family: "Space Grotesk", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial;
}
